
* {
	font-family:"jetbrainsmono nerd font";
	padding:0px 4px;
	border-radius:10px;
	font-weight:bold;
	min-height:0;
	font-size:100%;

}
/* base style for all modules */
.module-style {
    padding: 4px 10px;
    margin: 0 4px;
    border-radius: 999px;
    background-color: rgba(255, 255, 25, 0.12);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    transition: background-color 0.3s ease, border-color 0.3s ease, font-size 0.3s ease;
}

/* hover effect */
.module-style:hover {
    background-color: rgba(255, 255, 25, 0.12);
    border-color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}
window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #ffffff;
}
*/

window#waybar.termite {
    background-color: #3f3f3f;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/alexays/waybar/wiki/faq#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces {
    margin: 0 4px;
    padding: 0 6px;
    background: transparent;
}

#workspaces button {
    padding: 4px 10px;
    margin: 0 4px;
    border-radius: 999px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

}
#workspaces button.active {
    background-color: #89b4fa;  /* light blue (catppuccin-ish) */
    color: #1e1e2e;              /* dark text for contrast */
    border-color: #89b4fa;

}
#workspaces button.urgent {
    background-color: #eb4d4b;
    color: white;
    border-color: #eb4d4b;
}
#workspaces button:hover {

    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.4);

}

#workspaces button.active:hover{
    background-color: #0d58d1;  /* light blue (catppuccin-ish) */
    color: #1e1e2e;              /* dark text for contrast */
    border-color: #89b4fa;

}


#mode {
    background-color: #64727d;
    box-shadow: inset 0 -3px #ffffff;
}
#window,
#workspaces {
    margin: 4px 4px;
}

/* if workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* if workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#power-profiles-daemon {
    padding-right: 15px;
}
#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;

}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray, #mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-power,
#custom-volume,
#clock {
    padding: 4px 10px;
    margin: 0 4px;
    border-radius: 999px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    transition: background-color 0.3s ease, border-color 0.3s ease, font-size 0.3s ease;
}

#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#mpd:hover,
#custom-power:hover,
#custom-volume:hover,
#clock:hover {
    background-color: rgba(255, 255, 25, 0.12);
    border-color: rgba(255, 255, 255, 0.5);
    font-size: 20px;

}

#idle_inhibitor{
  padding: 4px 20px;
  color:red;
}
#idle_inhibitor.activated{
  color:rgb(0,255,0);
}
#custom-power{
  padding: 4px 20px;
}
#network{
  background-color:rgba(28,3,255,0.2);
}

#network.disconnected {
    background-color: rgba(255,3, 28, 0.2);
}


#paulseaudio{

    padding: 4px 10px;
    border-radius: 999px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
 transition: font-size 0.5s ease, background-color 0.5s ease;
    color: #ffffff;
    margin: 0 4px;

}
#paulseaudio:hover{
  background-color:rgba(0,0,0,0.3);

}


#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}
#temperature.critical {
    background-color: #eb4d4b;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

